<!DOCTYPE html>
<html>
<body>
<p>Выберите слово для получения статистики:</p>
<form method='get' action="/results">
  <select name="question">
    <option value="1">диспансер</option>
    <option value="2">кремень</option>
	<option value="3">принудить</option>
	<option value="4">генезис</option>
	<option value="5">облегчить</option>
	<option value="6">черпать</option>
	<option value="7">ломоть</option>
  </select>
  <input type = 'submit' value='Send'>
 </form>
</body>
</html>
